/* 
.header{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: auto;
    box-sizing: border-box;
    background-image: url("https://images.app.goo.gl/zFewGQrrwaNDchu19");
}
.body{
    display: flex;
    flex-direction: column;
    align-content: center;
} */