.header{
    display:flex;
    flex-direction: row;
    align-items:flex-start;
    align-content:flex-start;
    margin: 5px;
    justify-content: space-between;
    font-size: x-large;
    color:red;
    background-image:  url(https://cdn.pixabay.com/photo/2016/03/27/18/54/technology-1283624_1280.jpg);
    background-color:red;
}
 .nav-bar{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: normal;
    align-items: center;
    margin-bottom: 5px;
    margin: 5px;
    justify-content: space-between;
    color:red;
} 
a.nav-link {
    font-weight: bold;
    padding: 5px;
    color: red;
    text-decoration: none;
} 
.Project{ 
    display: flex;
    color: red;
    padding: 10px;
} 
.section{
    display: flex;
    font-size:medium;
    margin: 5px;
    background-color: black;
    color: red;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
}
.Skills{
    display: flex;

}
.Front{
    display: flex;
}
.Back{
    display:flex;
}
.Image{
    display: flex;
}

.Virtual {
    display:flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    justify-content: center;
}
.Virtual  image{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.section2{
    display: flex;
    color:red;
}
 .footer{
     color:red;
     display: flex;
     justify-content: space-around;
     flex-direction: row;
 } 
 body{
     background-color: black;
 }